<!DOCTYPE html>
<html>
<head>
  <title>EmberBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <meta name="current-user" content="<%= CurrentUserSerializer.new(current_user).to_json(root: false) %>" />
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
